* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Images/background-image.jpg);
    object-fit: cover;
}

/*This preset applies glass effect to element*/
#navbar {
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
}

#hire-me {
    border-radius: 0.5rem;
    background-color: rgba(225, 225, 225, 0.1);
}

/* Aside from glass effect I applied border colors and box-shadow to make it look 3D. Backdrop-filter for a hazy glass effect*/
#about-me{        
    margin-top: 5%;
    overflow: visible;
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);    
}

.about-img {
    height: 50%;

}

#profile {
    
}

.about {   
}

#main {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);
}

/* Applied the glass effect same as #about-me with minor modifications in property values */
.card {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);    
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.4), rgba(225, 225, 225, 0.2));
    
}

.img-fluid {
    border-radius: 2rem;
}

.card-link {
    color: white;
    border-radius: 0.25rem;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.1));    
}

/* Add mouse hover effects to button to make it stylish.*/
.card-link:hover {    
    color: black;
    background: white;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

#tools {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);
}

#socmedbtn {
    color: white;
    border-radius: 0.25rem;
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.3), rgba(225, 225, 225, 0.1));    
}

#socmed {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(0.5rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);    
}

#contact1 {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);    
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.4), rgba(225, 225, 225, 0.2));
}

.google {
    border-radius: 2rem;
}

/* Add mouse hover effects to button to make it stylish */
#socmedbtn:hover {    
    color: black;
    background: white;
    box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
}

#submit {
    border-radius: 2rem;
    backdrop-filter: blur(0.5rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1); 
}

#form {
    border: 1px solid transparent;
    border-radius: 2rem;
    backdrop-filter: blur(1rem);    
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);    
    background: linear-gradient(to right bottom, rgba(225, 225, 225, 0.4), rgba(225, 225, 225, 0.2));
    z-index: -1;
}

#footer {    
    border-right-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-top-color: rgba(225, 225, 225, 0.5);
    background-color: rgba(225, 225, 225, 0.1);
}